/*Global Styles*/
body {
  background-color: var(--bg-primary);
  font-family: var(--main-font);
  font-weight: 700;
}

.button span {
  font-size: 1.5rem;
  text-align: center;
  border-radius: 5px;
  display: block;
  width: 100%;
}

/*Font Styles*/
h1 {
  color: var(--button-primary);
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  max-width: 80px;
  margin: 0 auto;
  padding: 40px 0px;
}
@media all and (min-width: 782px) {
  h1 {
    padding: 100px 0px;
  }
}

.input__title {
  color: var(--text-secondary);
  display: block;
  padding-bottom: 10px;
}

.output__title {
  color: var(--bg-secondary);
}

.output__subtitle {
  color: var(--text-secondary);
  font-size: 0.8125rem;
}

.output__calculation {
  font-size: 3rem;
  color: var(--button-active);
}

/*Tip Calculator Styling*/
.tip-calculator {
  max-width: 960px;
  margin: 0 auto;
}

.calculator__holder {
  background-color: var(--bg-secondary);
  border-radius: 25px;
  padding: 40px;
}
@media all and (min-width: 782px) {
  .calculator__holder {
    display: flex;
  }
}

/*---Input*/
@media all and (min-width: 782px) {
  .calculator__holder--input {
    flex: 0 1 50%;
    margin-right: 50px;
  }
}

.input__container--bill {
  padding-bottom: 40px;
  position: relative;
}
.input__container--bill input {
  padding-left: 39px;
}
.input__container--bill::before {
  position: absolute;
  content: url("img/icon-dollar.svg");
  left: 20px;
  top: 37.5px;
}
.input__container--tip {
  padding-bottom: 40px;
}
.input__container--people {
  padding-bottom: 40px;
  position: relative;
}
.input__container--people input {
  padding-left: 38px;
}
.input__container--people::before {
  position: absolute;
  content: url(img/icon-person.svg);
  left: 20px;
  top: 38px;
}

.tip-button__holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.button__tips {
  flex: 0 1 50%;
  padding: 5px;
}
@media all and (min-width: 782px) {
  .button__tips {
    flex: 0 1 33%;
  }
}
.button__tips span {
  color: var(--bg-secondary);
  background-color: var(--button-primary);
}
.button__tips span:hover {
  background-color: var(--bg-primary);
  color: var(--button-primary);
}
.button__tips span:focus {
  background-color: var(--button-active);
  color: var(--button-primary);
}
.button__tips input {
  max-height: 36px;
  text-align: center;
}
.button__tips input:focus {
  text-align: right;
}

input {
  width: 100%;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 0px 10px;
  background-color: var(--input-primary);
  color: var(--button-primary);
  font-size: 1.5rem;
  font-family: var(--main-font);
  text-align: right;
}
input:focus-visible {
  outline: 2px solid var(--button-active);
  color: var(--button-primary);
}

/*---Output*/
.calculator__holder--output {
  padding: 20px;
  background-color: var(--button-primary);
  border-radius: 15px;
}
@media all and (min-width: 782px) {
  .calculator__holder--output {
    padding: 40px;
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
  }
}

.output__content--text {
  display: flex;
  flex-direction: column;
}

.output__container--tip, .output__container--total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button__reset {
  margin-top: auto;
}
.button__reset span {
  background-color: var(--button-active);
  color: var(--button-primary);
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */
